<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Grocery Info</title>
    <link rel="stylesheet"href="/css/app.css">
</head>
<body>
    <h1>edit page</h1>
    <form action="/groceries/<%=Groceries.id%>?_method=PUT" method="POST">
        Name: <input type=text name="name" value="<%=Groceries.name%>">
        Store Section: <input type=text name="section" value="<%=Groceries.section%>">
        <input type="submit" name="" value="Submit Changes">
    </form>
</body>
</html>