<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"href="/css/app.css">
</head>
<body>
    <h1>New Grocery Entry Page</h1>
    <form action="/groceries" method="POST">
        Grocery: <input type="text" name="name" >
        Store Section: <input type="text" name="section" >
        <input type="submit" name="" value="Create Grocery Entry"/>
    </form>
</body>
</html>