<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"href="/css/app.css">
</head>
<body>
    <h1>Welcome to the shopping list app</h1> <br/>


    <h2> Please log in or create an account to continue</h2>
    <form action='/auth/login' method="POST">
        Username: <input type="text" name="username" /><br/>
        Password: <input type="text" name="password" /><br/>
        <input type="submit" name="" value="Log In"/>
    </form>
</body>
</html>